import FWCore.ParameterSet.Config as cms

runProcess = cms.PSet(
    input = cms.vstring("@input"),
    outdir = cms.string("@outdir"),
    isData = cms.bool(@isData),
    XSection = cms.double(@xsec),
)
